@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li::marker {
    color: rgb(254, 198, 17);
  }
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.motto-elements {
    margin: 20px;
    margin-left: 30px;
}
.img-logo {
    width: 20px;
}
.div-link {
    width: 150px;
    cursor: pointer;
    margin: 5px 0px 5px 0px;
    float: left;
}
.highlight {
    background: linear-gradient(to top, rgb(254, 198, 17) 40%, transparent 40%);
}

#img-profile{
    width: 500px;
    height: 400px;
    border: solid 3px;
    border-radius: 20px;
    box-shadow: 10px 10px;
    margin: 30px;
}
#body {
    height: 100vh;
    width: 100vw;
}
#whole-div {
    height: 1080px;
    width: 1920px; 
}
#vertical-div-first {
    height: 1080px;
    width: 650px;
    float: left;
    background-color: blue;
}
#vertical-div-else {
    height: 1080px;
    width: 635px;
    float: left;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
}
#motto {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 70px;
}
#motto-bottom {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 30px;
    line-height: 40px;
    margin-top: 30px;
}
#motto-container {
    height: 400px;
    width: 600px;
    background-color: rgb(245, 245, 245);
}
#photo-container {
    height: 500px;
    width: 600px;
    background-color: rgb(13, 198, 56);
}
#aboutme-container {
    height: 260px;
    width: 480px;
    background-color: rgb(255, 255, 255);
    border: solid 3px;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 10px 10px;
}

#aboutme-title {
    font-size: 35px;
    font-weight: bold;
    margin: 20px 10px 10px 25px;
}

#aboutme-elements {
    line-height: 40px;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 20px;
    margin-left: 50px;
}

#yellow-box1 {
    position: relative; 
    height: 400px; 
    width: 400px; 
    background-color: rgb(254, 198, 17);
    border-radius: 20px;
}

#yellow-box2 {
    position: relative; 
    height: 150px; 
    width: 150px; 
    background-color: rgb(254, 198, 17);
    margin-right: 435px; 
    margin-top: 15px; 
    margin-left: 75px;
    border-radius: 20px;
}

#else-container {
    width: 595px;
    background-color: aquamarine;
}

#else-elements {
    line-height: 30px;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 20px;
}